LanMonitor/Service References/FotService/FotService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Fot.Admin/FotService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Fot.Admin.Models" />
  <xs:element name="GetSchedules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Fot.Admin.Models" minOccurs="0" name="GetSchedulesResult" nillable="true" type="q1:SchedulePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BundleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Fot.Admin.Models" minOccurs="0" name="GetAssessmentPackageResult" nillable="true" type="q2:BundlePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequiredAssessments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CenterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequiredAssessmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Fot.Admin.Models" minOccurs="0" name="GetRequiredAssessmentsResult" nillable="true" type="q3:ArrayOfAssessmentBundleViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResultUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Fot.Admin.Models" minOccurs="0" name="result" nillable="true" type="q4:ResultUpdateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResultUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerEndOfDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Fot.Admin.Models" minOccurs="0" name="items" nillable="true" type="q5:ArrayOfPhotoLogModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerEndOfDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Fot.Admin.Models" minOccurs="0" name="TriggerEndOfDayResult" nillable="true" type="q6:SchedulePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonnelPhotoUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Fot.Admin.Models" minOccurs="0" name="staffList" nillable="true" type="q7:ArrayOfPersonnelPhotoUpdateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonnelPhotoUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Fot.Admin.Models" minOccurs="0" name="PersonnelPhotoUpdateResult" nillable="true" type="q8:SchedulePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>