PhotoCap/Service References/CaptureService/ImageCaptureService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fot.Lan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fot.Lan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Fot.Lan/ImageCaptureService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Fot.Lan.Models" />
  <xs:complexType name="ResponseObj">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Fot.Lan.Models" minOccurs="0" name="Candidates" nillable="true" type="q1:ArrayOfCandidateViewModel" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Succeeded" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseObj" nillable="true" type="tns:ResponseObj" />
  <xs:complexType name="StaffResponseObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapturePhase" type="tns:CapturePhase" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Fot.Lan.Models" minOccurs="0" name="StaffList" nillable="true" type="q2:ArrayOfStaffViewModel" />
      <xs:element minOccurs="0" name="Succeeded" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StaffResponseObj" nillable="true" type="tns:StaffResponseObj" />
  <xs:simpleType name="CapturePhase">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="PreTest" />
      <xs:enumeration value="PostTest" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CapturePhase" nillable="true" type="tns:CapturePhase" />
</xs:schema>