PersonnelPhotoCap/Service References/CaptureService/ImageCaptureService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fot.Lan.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fot.Lan.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCandidateViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CandidateViewModel" nillable="true" type="tns:CandidateViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCandidateViewModel" nillable="true" type="tns:ArrayOfCandidateViewModel" />
  <xs:complexType name="CandidateViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CandidateId" type="xs:int" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CandidateViewModel" nillable="true" type="tns:CandidateViewModel" />
  <xs:complexType name="ArrayOfStaffViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StaffViewModel" nillable="true" type="tns:StaffViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStaffViewModel" nillable="true" type="tns:ArrayOfStaffViewModel" />
  <xs:complexType name="StaffViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" type="xs:int" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StaffViewModel" nillable="true" type="tns:StaffViewModel" />
</xs:schema>